# Gradle
.gradle
build

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
out/
*.ipr
*.iws
*.iml

# MacOS
.DS_Store

# General
bin
libs
build-*.zip

plugins/v1.8.9/export/src/main
plugins/v1.21.4/export/src/main