# Gradle
.gradle
build

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
out/
*.ipr
*.iws
*.iml

# MacOS
.DS_Store

# General
bin
libs
build-*.zip

plugins/v1.8.9/export/src/main
plugins/latest/export/src/main

launcher/OtterMC.dmg
launcher/OtterMC.exe

launcher/macos_dist/temp
launcher/win_dist/temp
